@model JMCRM.Models.Project

@{
    ViewData["Title"] = "Index";
}

<h1>Storylines</h1>

<p>
    <a asp-controller="Storyline" asp-action="Create" asp-route-projectId="@Model.ProjectId">Create New</a>
</p>

@if (Model.Storylines != null && Model.Storylines.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Storylines)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Storylines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.StorylineId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.StorylineId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.StorylineId">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>No Storylines yet</p>
}

<div>
    <a asp-controller="Project" asp-action="Index">Back to projects</a>
</div>